[Unit]
Description=Heizung
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStartPre=+ip link set down can0
ExecStartPre=+ip link set can0 up type can bitrate 10000 sample-point 0.875
ExecStart=/home/pi/heizung-mqtt.py
User=pi

[Install]
WantedBy=multi-user.target

